{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Quiz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_quiz.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <title>Tiến trình</title>

    <style>
        .progress {
            width: 20%;
        }
        
        .progress-icon {
            margin-top: auto;
            margin-bottom: auto;
        }
        
        .progress-icon i {
            color: #28a745;
            font-size: 50px;
        }
        
        .bar-hidden {
            width: 20%;
        }
        
        .bar-title {
            width: 50px;
            text-align: center;
        }
    </style>
</head>

<br> {% include "header.html" %}

<div th:text="${currentStatus}" class="d-none" id="current-progress"></div>
    <div class="container">
        <h1 class="mt-5 mb-5 text-center d-none">Tiến trình xử lý </h1>
        <div class="d-flex">
            <div class="progress-icon icon-1">
                <i class="fa-solid fa-circle text-secondary"></i>
                <div class="spinner-border text-primary d-none spinner-1" style="width: 50px; height: 50px;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="progress progress-icon bar-1">
                <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress-icon icon-2">
                <i class="fa-solid fa-circle text-secondary"></i>
                <div class="spinner-border text-primary d-none spinner-2" style="width: 50px; height: 50px;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="progress progress-icon bar-2">
                <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress-icon icon-3">
                <i class="fa-solid fa-circle text-secondary"></i>
                <div class="spinner-border text-primary d-none spinner-3" style="width: 50px; height: 50px;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="progress progress-icon bar-3">
                <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress-icon icon-4">
                <i class="fa-solid fa-circle text-secondary"></i>
                <div class="spinner-border text-primary d-none spinner-4" style="width: 50px; height: 50px;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <div class="d-flex mt-2">
            <div class="alert bar-title" role="alert">
                Lỗi
            </div>
            <div class="bar-hidden"></div>
            <div class="alert bar-title " role="alert">
                Lỗi
            </div>
            <div class="bar-hidden"></div>
            <div class="alert bar-title" role="alert">
                Lỗi
            </div>
            <div class="bar-hidden"></div>
            <div class="alert bar-title" role="alert">
                Lỗi
            </div>
            <div class="bar-hidden"></div>
        </div>

    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h3>Add new quiz</h3>

<h4 onclick="downloadTemplateProcess()" style="cursor: pointer;" href="">Download template questions</h4>


<p id="error"></p>

<p>Name</p>
<input type="text" id="name">

<p>Participants</p>
<table id="list-participants">
    <tr>
        <td style="width: 300px;"><input name="username" type="text"></td>
        <td><button onclick="deleteRow(this)">Delete</button></td>
    </tr>
</table>
<button onclick="addRow()">Add new participant</button>
</br>
</br>
<h2>Questions</h2>
</br>
<input type="file" id="question"> <br>
<button onclick="saveNewQuizProgress()">Save</button>

<script src="{% static 'js/Const.js' %}"></script>
<script src="{% static 'js/Quiz.js' %}"></script>
<script src="{% static 'js/Authenticate.js' %}"></script>
<script>
    let quiz = new Quiz()

    function downloadTemplateProcess() {
        quiz.downloadTemplate()
    }

    function saveNewQuizProgress() {
        for(let index = 1; index < 4; index++){
            const iTag = icons[index].querySelector('i');
            iTag.classList.add("fa-solid")
            iTag.classList.add("fa-circle")
            iTag.classList.add("text-secondary")
            iTag.classList.remove('text-success');
            iTag.classList.remove('fa-circle-check');
            iTag.classList.remove('text-danger');
            // turn off spinner
            spinners[index].classList.add('d-none');

            const divChildBar = bars[index].querySelector('div');
        
            divChildBar.classList.add('progress-bar')
            divChildBar.classList.add('progress-bar-striped')
            divChildBar.classList.add('bg-secondary')
            divChildBar.classList.remove('bg-success')
        }

        quiz.saveNewQuiz()
    }

    function deleteRow(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    function addRow() {
        var table = document.getElementById("list-participants");
        var newRow = table.insertRow(table.rows.length);
        var cell1 = newRow.insertCell(0);
        var cell2 = newRow.insertCell(1);
        var input = document.createElement("input");
        input.type = "text";
        input.name = "username";
        cell1.appendChild(input);
        var deleteButton = document.createElement("button");
        deleteButton.innerHTML = "Delete";
        deleteButton.onclick = function() {
            deleteRow(this);
        };
        cell2.appendChild(deleteButton);
    }
</script>
</script>

<script>
    const textColors = [
        'text-primary',
        'text-secondary',
        'text-success',
        'text-danger',
        'text-warning',
        'text-info',
    ];

    const bgColors = [
        'bg-primary',
        'bg-secondary',
        'bg-success',
        'bg-danger',
        'bg-warning',
        'bg-info',
    ]

    const classFas = [
        'fa-circle-check',
        'fa-circle',
        'fa-circle-xmark',
    ]

    const currentProgress = +document.querySelector('#current-progress').innerText;

    const icons = [null];
    const spinners = [null];
    for (let i = 1; i <= 6; i++) {
        icons.push(document.querySelector(`.icon-${i}`));
        spinners.push(document.querySelector(`.spinner-${i}`))
    }

    const bars = [null];
    for (let i = 1; i <= 5; i++) {
        bars.push(document.querySelector(`.bar-${i}`));
    }

    function successService(index){
        const iTag = icons[index].querySelector('i');
        // turn off spinner
        spinners[index].classList.add('d-none');

        // turn on icon
        iTag.classList.remove(...textColors);
        iTag.classList.remove(...classFas);
        iTag.classList.remove('d-none');
        iTag.classList.add('text-success');
        iTag.classList.add('fa-circle-check');

        const divChildBar = bars[index].querySelector('div');
        // turn on bg-success
        divChildBar.classList.remove(...bgColors);
        divChildBar.classList.add('bg-success');
    }

    function failService(index){
        const iTag = icons[index].querySelector('i');
        // turn off spinner
        spinners[index].classList.add('d-none');

        // turn on icon
        iTag.classList.remove(...textColors);
        iTag.classList.remove(...classFas);
        iTag.classList.remove('d-none');
        iTag.classList.add('text-danger');
        iTag.classList.add('fa-circle-check');

        const divChildBar = bars[index].querySelector('div');
    }

    let constant = new Const()
    // Kết nối đến endpoint của WebSocket và sử dụng SockJS
    var socket = new SockJS(constant.webSocket.url);
    var stompClient = Stomp.over(socket);

    // Kết nối với WebSocket và đăng ký callback
    stompClient.connect({}, function(frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe("/topic/service-status", async function(message) {
            console.log('Received data: ' + message.body);
            var data = JSON.parse(message.body);
            console.log(data);
            if(data.status == true){
                successService(data.serviceNumber)
            }
            else{
                failService(data.serviceNumber)
            }
        });
    });
</script>
</body>

</html>