{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	{% include "header.html" %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

	<a href="{% url 'addQuiz' %}">Add new quiz</a>

	<!-- (B) GENERATE QR CODE HERE -->
	<div id="qrcode"></div>

	<!-- (C) CREATE QR CODE ON PAGE LOAD -->

	<script>
		window.addEventListener("load", () => {
		var qrc = new QRCode(document.getElementById("qrcode"), "192.168.1.10:8080/api/v1/quiz/play/bda4510b-54d4-4ab0-bd28-8b3a84057142");
		});
	</script>

	
</body>
</html>